<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/calendar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/calendar"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalendarAppExample">
        <activity
            android:name="calendar.au.ToDoCalendar.DailyCalendarActivity"
            android:exported="true" />
        <activity android:name="calendar.au.ToDoCalendar.EventEditActivity" />
        <activity android:name="calendar.au.ToDoCalendar.WeekViewActivity" />
        <activity android:name="calendar.au.ToDoCalendar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>